# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native build output
ios/
android/

# Environment variables
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
